@tailwind base;
@tailwind components;
@tailwind utilities;

.ink-animate::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: theme('colors.primary');
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: maskAnimation 0.01s steps(1) forwards 0.5s, changeBackground 0.55s steps(1) forwards;
  -webkit-mask-size: 50% 50%;
  -webkit-mask-position: center;
  mask-size: 50% 50%;
  mask-position: center;
}

@keyframes maskAnimation {
  0% {
    -webkit-mask-image: none;
    mask-image: none;
  }
  100% {
    -webkit-mask-image: url('/ink-splash-2.gif');
    mask-image: url('/ink-splash-2.gif');
  }
}

@keyframes inkTransition {
  0% {
    -webkit-mask-image: none;
    mask-image: none;
  }
  100% {
    -webkit-mask-image: url('/ink-1.gif');
    mask-image: url('/ink-1.gif');
  }
}

.ink-transition::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: theme('colors.white');
  background-size: cover;
  background-position: center;
  z-index: 2;
  animation: inkTransition 0.01s steps(1) forwards 0.5s;
  -webkit-mask-size: 5% 5%;
  -webkit-mask-position: center;
  mask-size: 5% 5%;
  mask-position: center;
}