@tailwind base;
@tailwind components;
@tailwind utilities;

.ink-animate::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: theme('colors.background');
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: maskAnimation 0.01s steps(1) forwards;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  mask-size: cover;
  mask-position: center;
}

@keyframes maskAnimation {
  0% {
    -webkit-mask-image: none;
    mask-image: none;
  }
  100% {
    -webkit-mask-image: url('/ink-splash-2.gif');
    mask-image: url('/ink-splash-2.gif');
  }
}